body{
	background-color: thistle;
}
.pokemon-list {
	list-style: none;
	margin: 0;
	padding: 0;
}


form {
text-align: center;
margin:auto;
width: 25%;
}
.btn-block{
	width: 25%;
	margin: auto;
}

p {
	text-align: center;

}

.center
{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {

font-family: sans-serif;
text-align: center;

}

h2 {

	text-align:center;

}

.pokemon-btn {
	appearance: none;
	border: none;
	margin-bottom: 10px;
	/*padding: top right buttom left ;*/
	/*padding-top; padding-right; padding-buttom; padding-left;*/
	/*padding: 8px 5px;*/
	/*padding: 8px;*/
	padding: 15px 20px;
	text-align: left;
	width: 100%;
}

@media screen and (min-width: 40rem) {
	.pokemon-btn {
		width: 20%;
	}
}



html, 
body {
  font-family: Arial, sans-serif;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;

}
